
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 320px;
    height: 1024px;
    position: fixed;
    font-family: 'TTLakes-Regular', serif;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
   gap: 128px;
   margin-top: 15px;
 
}
.search{
    cursor: pointer;
}

.burger-cps-icon{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: 10px;
    cursor: pointer;
}
#special{
    display: flex;
    gap: 10px;
   box-sizing: border-box;
    border-left:4px solid #41F6D7;
    height: 32px;
    color:#7E7E82;
}
#special:hover{
    transform: scale(1.1);
    color: blue;
}
ul{
    display:flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 30px;
    list-style: none;
    padding: 15px;
    font-size: 21px;
}
.first:hover{
cursor: pointer;
transform: scale(1.1);
}
.second:hover{
cursor: pointer;
transform: scale(1.1);
}
.third:hover{
cursor: pointer;
transform: scale(1.1);
}
.fourth:hover{
cursor: pointer;
transform: scale(1.1);
}
.fifth:hover{
cursor: pointer;
transform: scale(1.1);
}
.sixth:hover{
cursor: pointer;
transform: scale(1.1);
}
.seventh:hover{
cursor: pointer;
transform: scale(1.1);
}

.footage{
   display: flex;
   flex-direction: column;
  margin-top: 100px;

}
.icons{
    display: flex;
    gap: 15px;
    margin: 10px;
    cursor: pointer;
}
.contacts{
    padding: 10px;
}
.email{
    display: flex;
}
.phone-number{
    display: flex;
    font-size: 24px;
    font-style: bold;
    color:#1B1C21 ;
    margin-bottom: 5px;
    font-family: 'TTLakes-ExtraBold', serif;
}
.lang{
    font-size: 15px;
}